RewriteEngine On

# Change the RewriteBase to the path of your site

RewriteBase /

# Redirect requests to index.php in app folder when user enters /api

RewriteRule ^api(/.+)?$ app/index.php [L]

# Redirect requests to index.php as default

RewriteRule ^$ public/pages/ [L]

# Redirect requests to home.php when user enters /Home

RewriteRule ^Home$ public/pages/home.php [L]

# Remove .php extension from URLs (public only)

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.\*)$ $1.php [L]

# Rewrite requests to files that exist in public/pages folder

RewriteCond %{DOCUMENT_ROOT}/public/pages/$1.php -f
RewriteRule ^(.+)$ public/pages/$1.php [L]

# Redirect to 404 page when page is not found

ErrorDocument 404 /public/pages/error/404.php
